<div class="html5-audio-plyr" data-id="{{ block.settings.id }}"></div>

{% schema %}
{
  "name": "HTML5 Audio Player",
  "target": "section",
  "settings": [{ "type": "text", "id": "id", "label": "Audio Id" }]
}
{% endschema %}
